NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
SERVER_URL=http://localhost:8080

NEXT_AUTH_URL=http://localhost:3000
NEXT_AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=

LIFF_ID=
LIFF_URL=