NODE_ENV=development

PORT=5001

LIFF_BASE_URL=sommhai-dev.p-def.xyz
API_BASE_URL=api.sommhai-dev.p-def.xyz

DATABASE_URL=postgres://postgres:password@localhost:5432/sommhai

CORS_ORIGIN=sommhai-dev.p-def.xyz